<form action="/" method="POST" enctype="multipart/form-data" class="d-flex">
    <input class="form-control" type="file" name="image" accept="image/jpeg, image/png, image/svg+xml">
    <button type="submit" class="px-xs-1 px-md-5 btn btn-primary">Submit</button>
</form>